<launch>

  <node pkg="walter_lee" type="laneDetect.py" name="laneDetect"  />

  <node pkg="walter_lee" type="pursuit.py" name="pursuit"  />

  <node pkg="walter_lee" type="cloudScan.py" name="cloudScan"  />

  <node pkg="walter_lee" type="waypoints_follow.py" name="waypoints"  />

  <node pkg="walter_lee" type="avoidObs.py" name="avoidObs"  />

</launch>
